.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__hamburger {
        margin-right: 1em;
    }

    &__logo img {
        width: 148px;

        @include min-width(md) {
            width: auto;
        }
    }
}
