.c-nav {
    display: flex;

    &--vertical {
        flex-direction: column;
        align-items: flex-start;
    }

    &--vertical &__logo {
        display: block;
        margin-top: auto;
        align-self: flex-start;
    }

    &--vertical &__menu {
        flex-direction: column;
        width: 100%;
    }

    &--vertical &__item {
        padding: 1em;
        border-radius: 10px 0 0 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: getRgba($light, 0.5);
        }

        &.is-selected {
            background: $light;
        }
    }

    &--vertical &__item + &__item {
        margin-top: $font-2;
    }

    &--vertical &__link {
        margin-left: 1em;
    }

    &__logo {
        display: none;
    }

    &__hamburger {
        margin-bottom: $font-4;
    }

    &__menu {
        list-style: none;
        display: flex;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }
}
